body {
  margin: 0;
  font-family: "Inter",-apple-system, BlinkMacSystemFont, 'Segoe UI',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(246, 209, 250, 0.933);
}
*{
  font-family: "Inter",-apple-system;
}

.d-none{
  display: none;
}
.wrapper{
  background: #ffff;
  box-shadow: 0px 10px 20px rga(30, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1480px;
  margin: 50px auto;
}
.m-w1400{
  max-width: 1400px;
}
header{
  max-height: 128px;
  display: flex;
  justify-content: space-between;
  padding: 30px 45px 0 30px;
  border-bottom: 1px solid #EAEAEA;;
  svg{
    path{
      fill: #9c6526;
    }
  }

}

.slider{
  padding: 30px 40px 0 40px;
  .slider-bg{
    background: url(../public/img/slider/IMG_089.jpg) center center/cover no-repeat;
    max-width: 1400px;
    height: 600px;
    border-radius: 20px;
  }
}
.card{
  border: 1px solid #f8e8f8;
  padding: 30px;
  width: 300px;
  border-radius: 40px;
  margin-right: 65px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  &:hover{
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  &-favorite{
    position: absolute;
    cursor: pointer;
  }
  span{
    font-size: 16px;
    opacity: 0.5;
    text-transform: uppercase;
  }
  b{
    font-size: 16px;
  }
  .product-name{
    font-weight: 400;
    font-size: 18px;
  }
  button{
    background: #9c6526;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}

section{ 
  .content{
    &__search-block{
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 0 15px;
      input{
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
      }
    }
}
}
.overlay{
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
  height: 100%;
}
.drawer{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  &__items{
    flex: 1;
    overflow: auto;
  }
  h2{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin: 0;
    margin-right: 30px;
  }
  &__remove-btn{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
  &__total{
    margin-top:20px ;
    li{
      display: flex;
      align-items: flex-end;
    div{
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top:-4px;
      margin: 0 7px;
    }
  }
    .greenButton{
      position: relative;
          &:hover{
            img{
            transform: translateX(5px) ;
          }
        }
      img{
        position: absolute;
        right: 30px;
        top: 20px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }

}
.cardItem{
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius:20px;
  overflow: hidden;
  padding-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  p{
    font-size: 15px;
  }
  b{
    font-size: 15px;
  }

}

.greenButton{
  width: 100%;
  background: #9DD558;
  border-radius: 18px;
  height: 55px;
  border:0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover{
    background: lighten($color: #9DD558, $amount: 10%) ;
  }
  &:active{
    background: darken($color: #9DD558, $amount: 15%)
  }
}